@font-face {
    font-family:Bold;
    src: url(fonts/static/WorkSans-Bold.ttf);

}
div {
    background-color: rgb(255, 255, 255);
    margin-top: 230px;
    margin-bottom: 100px;
    margin-right: 530px;
    margin-left: 530px;
    border-radius: 2cap;

}
.iconstar { 
    background-image: url(images/icon-star.svg);
    
    display: inline-block;
    width : 30px;
    height : 30px;
 }

h1 {
    font-family:Bold;
    color: rgb(63, 42, 66);
   
}
body{ 
    background-color: #e7d5f1;
    background-image: url(images/background-pattern-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    } 

